
/*accordion*/
/* Icon font for arrow icons */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon_arrows/icomoon.eot');
	src:url('../fonts/icomoon_arrows/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon_arrows/icomoon.woff') format('woff'),
		url('../fonts/icomoon_arrows/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon_arrows/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Iconfont by Icomoon http://icomoon.io/ */


/* Accordion style */

/* Accordion style */
#content ul.cbp-ntaccordion {
	list-style: none;
	margin: 0;
	padding: 0;
}

#content ul.cbp-ntsubaccordion {
	list-style: none;
}

.cbp-ntaccordion .cbp-nttrigger {
	cursor: pointer;
}

.cbp-ntaccordion h3 {
	margin: 0 0 0.3em;
	padding: 1em 0 0.5em;
	border-bottom: 1px solid #ddd;
	font-size: 20px;
}
.cbp-ntsubaccordion h4 {
	font-size: 18px;
	font-weight: 400;
	font-family: "futura-pt",Futura Std,Futura,Arial,sans-serif;
	color:#715615;
}
.cbp-ntcontent ul li {
	font-size: 16px;
}
.cbp-ntaccordion .cbp-ntcontent p {
	font-size: 16px;
	line-height: 1.5;
}

/* Arrow icons */
.cbp-ntaccordion > li > .cbp-nttrigger:before,
.cbp-ntsubaccordion > li > .cbp-nttrigger:before {
	font-family: 'icomoon';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	color: #715615;
	margin-right: 0.5em;
	-webkit-font-smoothing: antialiased;
}


.cbp-ntaccordion > li > .cbp-nttrigger:before {
	content: "\3+";
}
.cbp-ntaccordion > li > .cbp-nttrigger:hover:before {
	content: "\3+";
	color: inherit;
}
.cbp-ntaccordion > li.cbp-ntopen > .cbp-nttrigger:before,
.no-js .cbp-ntaccordion > li > .cbp-nttrigger:before {
	content: "\3—";
	color: inherit;
}

.cbp-ntsubaccordion > li > .cbp-nttrigger:before {
	content: "\3+";
}
.cbp-ntsubaccordion > li > .cbp-nttrigger:hover:before {
	content: "\3+";
	color: inherit;
}
.cbp-ntsubaccordion > li.cbp-ntopen > .cbp-nttrigger:before,
.no-js .cbp-ntsubaccordion > li > .cbp-nttrigger:before {
	content: "\3-";
	color: inherit;
}

/* Initial height is zero */
.cbp-ntaccordion .cbp-ntcontent {
	height: 0;
	overflow: hidden;
}

/* When open, set height to auto */
.cbp-ntaccordion .cbp-ntopen > .cbp-ntcontent,
.cbp-ntsubaccordion .cbp-ntopen > .cbp-ntcontent,
.no-js .cbp-ntaccordion .cbp-ntcontent {
	height: auto;
}

/* Example for media query */
@media screen and (max-width: 32em) {

	.cbp-ntaccordion {
		font-size: 70%;
	}

}
.tooltip-trigger {
  text-decoration: underline;
}

td > span {
	margin-right: 0.5rem;
}
