// Components
// Modular components and their states.
// These pieces should be able to be used anywhere. Things like: icons, buttons, messages, etc.

.alert {
  height:auto;
  background-color:#4A90E2;
  text-align: center;
  padding:4px 0px;
  span {
    color:#fff;
    font-size:1.4rem;
    line-height: 1.4;
    font-family: $sans-serif;
    a:link, a:visited {
      color:rgba(255,255,255,.75);
    }
  }
}
.fadeinup {
  animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: fadeInUp;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);

    -webkit-animation-delay: 0s;
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 0.9s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: fadeInUp;
    -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: .0;
      -webkit-transform: translateY(10%);
  }

  100% {
      opacity: 1;
      -webkit-transform: translateY( 0%);
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: .0;
      -moz-transform: translateY(10%);
  }
  100% {
      opacity: 1;
      -moz-transform: translateY(0%);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: .0;
      transform: translateY(10%);
  }
  100% {
      opacity: 1;
        transform: translateY(0%);
  }
}


iframe {
  width:100;
}
//buttons
.btn {
  	box-shadow:0 -3px 0 rgba(0, 0, 0, 0.15) inset;
	color: #FFFFFF !important;
	border:none;
	font-family:$sans-serif;
	border-radius:0px;
	font-size:1.4rem;
	text-transform:uppercase;
	padding:1rem 2rem 1rem 2rem;
	@include accent-theme-bg-color;
  &:hover {
    opacity:.55;
  }
}
.btn-margin {
  margin-top:9%;
}
.btn-slider {
  box-shadow:none;
  background-color:$asi_main;
}
/* ------

tables

------- */
table.abouttable tbody, table.bordered tbody {
	padding: 10px;
}

table.abouttable, table.bordered, table.productstable {
	padding-bottom: 2.5em;
    width: 100%;
}
table.plain th, table.plain td {
	font-family: "futura-pt",Futura Std,Futura,Arial,sans-serif;
    font-style: normal;
    border-left: none;
    border-right: none;
    font-size: 1.2em;
}
table.abouttable td, table.bordered td, table.productstable td {
	color: #282C2D;
    font-family: "futura-pt",Futura Std,Futura,Arial,sans-serif;
    font-size: 1.4em;
    font-style: normal;
    font-weight: 400;
    padding: 1.2em;
    border-top-color: #CACACA;
    border-top-style: solid;
    border-top-width: 1px;
}
table.abouttable td, table.productstable td{
	font-size: 1em
}
table.abouttable th {
	color: $primary-color;
    font-family: "futura-pt",sans-serif;
    font-size: 1.9em;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 0.75em;
    margin-bottom: 0.6em;
    margin-top: 0.4em;
    text-transform: uppercase;
    padding-bottom: 1em;
    padding-top: .5em;
}
table.secondary_table td {
  min-width:250px;
}
#content table.abouttable {
	margin-bottom: 2em;
}
#content table {
  font-size:16px;
}
.fullwidth {
  width:100%;
}
img.bordered {
		border-radius:2%;
		box-shadow:0 0 0 0.25em #FFFFFF, 0 0 0 .50em $secondary-color;
}
dd.image-caption {
  font-size:100%;
  font-size:1.4rem;
  font-family: $sans-serif;
  line-height: 1.5;
  margin-left:0px !important;
  margin-top:1% !important;;
}
input.searchButton {
	border-top:1px solid $borders;
}
.asi-main {
  color:$asi-main;
}
.asi-main-bg {
  background-color:$asi-main;
}
.sarep-main-bg {
  background-color:$sarep-main;
}
.sarep-main {
  color:$sarep_main !important;
}
.sf-main-bg {
  background-color:$sf-main;
}
.sf-main {
  color:$sf_main !important;
}
.rr-main-bg {
  background-color:$rr-main;
}
.rr-main {
  color:$rr_main !important;
}
.infas-main-bg {
  background-color:$infas-main;
}
.infas-main {
  color:$infas_main !important;
}
.safs-main-bg {
  background-color:$safs-main;
}
.safs-main {
  color:$safs_main !important;
}
.research-main-bg {
  background-color:$research-main;
}
.sustain-main-bg {
  background-color:$sustain_main;
}
.sustain-main {
  color:$sustain_main !important;
}
.uppercase {
  text-transform:uppercase;
}
.sunny-grass {
  color:$sunny-grass;
}
.wine-grape {
  color:$wine-grape;
}
.recpool-blue {
  color:$recpool-blue;
}
.unitrans-red {
  color:$unitrans-red;
}
.golden-lupine {
  color:$golden-lupine;
}
.california-poppy {
  color:$california-poppy;
}
.bg-sunny-grass {
  background-color:$sunny-grass !important;
}
.bg-wine-grape {
  background-color:$wine-grape !important;
}
.bg-recpool-blue {
  background-color:$recpool-blue !important;
}
.bg-unitrans-red {
  background-color:$unitrans-red !important;
}
.bg-golden-lupine {
  background-color:$golden-lupine !important;
}
.bg-california-poppy {
  background-color:$california-poppy !important;
}
.center-t {
	text-align:center;
}

//form
.fgBaseEditForm {
  font-size:160%;
  line-height: 1.5;
}
p.sunnygrass {
  color:#78BE20;
}
p.oceanblue {
  color:#008EAA;
}
p.rustbrick {
  color:#DA611E;
}
