// navigation
// #nav-toggle {
// 	a:link, #nav-toggle a:visited {
//   		color: #fff;
// 	}
// 	a {
// 		display: none;
// 		background: url("../images/navopen.png")
// 	}
// }
nav {
	max-width:1200px;
	width:100%;
	margin-bottom:-5px;
	margin-left:-12px;
}
#portal-globalnav {
	background:none;
	margin:0px;
	font-size:100%;
	.selected a {
		background-color:transparent;
		&:hover{
			background-color:transparent;
			color:#fff;
		}
	}
	.selected > a {
		border-bottom:5px solid $secondary-color;
		@include accent-theme-brdr-color;
	}
	ul.submenu {
		z-index:9999;
		// display:block;
		@include main-theme-bg-color;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-ms-transition: all 1s ease;
		-o-transition: all 1s ease;
		transition: all 1s ease;
			& .state-published {
				color:#fff !important;
			}
			li {
				border-bottom:1px solid rgba(255,255,255,.1)

			}
			li a {
				font-size:1.4rem;
				padding:6% 8%;
			}
			li a:hover {
				@include accent-theme-color;
			}
	}
}

/*
    Mobile Menu Core Style
*/
.slicknav_menu {
	display:none;
}

@media screen and (max-width: 650px) {
	.js #menu {
		display:none;
	}
	.js .slicknav_menu {
		display:block;
	}
	nav.menu {
		display:none;
	}
	ul.submenu {
		position:inherit;
	}
	.header_contents {
		margin-bottom:0px;
	}
	.header_contents .righthead {
		display:none;
	}
	.header_contents .lefthead {
		width:90%;
	}
}

.slicknav_btn {
	position: relative;
	display: block;
	vertical-align: middle;
	float: right;
	padding: 0.438em 0.625em 0.438em 0.625em;
	line-height: 1.125em;
	cursor: pointer;
	 }
.slicknav_menu  .slicknav_menutxt {
	display: block;
	line-height: 1.188em;
	float: left;
}
.slicknav_menu .slicknav_icon {
	float: left;
	margin: 0.188em 0 0 0.438em;
}
.slicknav_menu .slicknav_no-text {
	margin: 0
}
.slicknav_menu .slicknav_icon-bar {
	display: block;
	width: 1.125em;
	height: 0.125em;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
	margin-top: 0.188em
}
.slicknav_nav {
	clear: both
}
.slicknav_nav ul, .slicknav_nav li {
	display: block
}
.slicknav_nav .slicknav_arrow {
	font-size: 0.8em;
	margin: 0 0 0 0.4em;
}
.slicknav_nav .slicknav_item {
	cursor: pointer;
}
.slicknav_nav .slicknav_row {
	display: block;
}
.slicknav_nav a {
	display: block
}
.slicknav_nav .slicknav_item a, .slicknav_nav .slicknav_parent-link a {
	display: inline
}
.slicknav_menu:before,
.slicknav_menu:after { content: " "; display: table; }
.slicknav_menu:after { clear: both }
/* IE6/7 support */
.slicknav_menu { *zoom: 1 }

/*
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/

.slicknav_menu {
    font-size:16px;
}
/* Button */
.slicknav_btn {
    margin: 5px 5px 6px;
    text-decoration:none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.3);
}
/* Button Text */
.slicknav_menu  .slicknav_menutxt {
    color: #FFF;
    font-weight: bold;
    text-shadow: 0 1px 3px #000;
}
/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
  background-color: #f5f5f5;
}
.slicknav_menu {
    @include main-theme-trans-more;
}
.slicknav_nav {
    color:#fff;
    margin:0;
    padding:0;
    font-size:0.875em;
}
.slicknav_nav, .slicknav_nav ul {
    list-style: none;
    overflow:hidden;
}
.slicknav_nav ul {
    padding:0;
    margin:0 0 0 20px;
}
.slicknav_nav .slicknav_row {
    padding:5px 10px;
    margin:2px 5px;
}
.slicknav_nav a{
    padding:5px 10px;
    margin:2px 5px;
    text-decoration:none;
    color:#fff;
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
    padding:0;
    margin:0;
}
.slicknav_nav .slicknav_row:hover {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color:#fff;
    background:rgba(255,255,255,.5);
}
.slicknav_nav a:hover{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color:#fff;
    background:rgba(255,255,255,.5);
}
.slicknav_nav .slicknav_txtnode {
     margin-left:15px;
}
#top_drop-nav {
	ul {
		list-style: none;
		padding: 0px;
		margin: 0px;
		li {
			display: block;
			position: relative;
			float: left;
			padding:5px;
		}
	}
	li ul {
		display: none;
	}
	ul li a {
		display: inline-block;
		padding: 5px 15px 5px 10px;
		text-decoration: none;
		white-space: nowrap;
		color: #fff;
		@include main-theme-trans;
		.section-homepage & {
			background-color:transparent;
		}
	}
	// ul li a:hover {
	// 	background: #f00;
	// }
	li ul {
		@include main-theme-trans;
		.section-homepage & {
			background-color:rgba(0,0,0,.5);
			margin-top:8px;
		}
	}
	li:hover ul {
		display: block;
		position: absolute;
	}
	li:hover li {
		float: none;
	}
	// li:hover a {
	// 	@include accent-theme-color;
	// }
	// li:hover li a:hover {
	// 	@include main-theme-trans;
	// }
	li ul li {
		border-top: 0px;
	}
}
div.portletStaticText #top_drop-nav li {
	display:inline-block;
	padding-right:10px;
}
div.portletStaticText #sub_top_drop-nav ul {
	display:list-item !important;
	padding-left:0px;
	margin-left:0px;
	padding:0px;
}
div.portletStaticText #sub_top_drop-nav li {
	display:list-item !important;
	text-align:left;
	padding-left:0px;
}
ul#sub_top_drop-nav {
	z-index:99;
}
// Front Nav
.section-homepage nav {
	max-width:100%;
	width:100%;
	// height:50px;
	margin:0 auto !important;
	background-color:#fff;
	border-top:1px solid $borders;
	border-bottom:1px solid $borders;

}
.section-homepage #portal-globalnav {
	margin:0px;
	@include outer-container;
	padding:10px 0px;
	// width:60%;
	font-size:100%;
	// padding:12px 8px;
	// background-color:$asi_main;
	// border:3px solid #4A90E2;
	text-align:center;
	// margin-top:-11px;
	li {
		a {
			color:#434343;
		}
	}
	.selected a {
		background-color:transparent;
		&:hover{
			background-color:transparent;
			color:$asi-main;
		}
	}
	ul {
		list-style-type: circle;
	}
	li {
		display:inline-block;
		float:none;
		// margin-right:0px;
		a {
			font-size:1.6rem;
			font-weight:400;
		}
	}
	.selected > a {
		border-bottom:5px solid $secondary-color;
		@include accent-theme-brdr-color;
	}
	ul.submenu {
		z-index:9999;
		margin:0 auto;
		text-align:left;
		// display:block;
		@include main-theme-bg-color;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-ms-transition: all 1s ease;
		-o-transition: all 1s ease;
		transition: all 1s ease;
			& .state-published {
				color:#fff !important;
			}
			li {
				border-bottom:1px solid rgba(255,255,255,.1)

			}
			li a {
				font-size:1.4rem;
				padding:6% 8%;
			}
			li a:hover {
				@include accent-theme-color;
			}
	}
}
