/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.theme-default .nivoSlider {
	position:relative;
	background:#191919 no-repeat 50% 50%;
	max-height:600px;
	// @include breakpoint (navcut) {
	// 	height:200px;
	//
	// }
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	text-align: right;
	margin-top:-22px;
	z-index:100;
	position:relative;
	color:rgba(255,255,255,.01);
	margin-right:5%;
}
.theme-default .nivo-controlNav a {
	display:inline-block;
	width:22px;
	height:22px;
	background:url(../images/bullets.svg) no-repeat;
	text-indent:-9999px;
	color:rgba(255,255,255,.01);
	border:0;
	margin: 0 2px;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -22px;
}
.theme-default .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(../images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-default:hover .nivo-directionNav a { opacity: 1; }
.theme-default a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-default a.nivo-prevNav {
	left:15px;
	top:45%;

}
.theme-default a.nivo-nextNav {
	top:10px;
	top:45%;
}
.theme-default .nivo-caption {
    width:55%;
    text-align: left;
    background-color:rgba(255,255,255,.01);
    padding: .8em 1em;
    height: auto;
    bottom: 2%;
    position: absolute;
    z-index: 100;
    left:9%;
      @include breakpoint(laptop) {
      left:3%;
      // background-color:rgba(100,100,255,.3);
	  }
	  @include breakpoint(tablet) {
	    left:1%;
	    width:70%;
	    // background-color:rgba(100,255,100,.3);
	  }
	  @include breakpoint(navcut) {
	    left:0%
	  }
	  // @include breakpoint(navcut){
	  // 	.theme-default .nivo-caption {
	  // 		width:70%;
	  // 	}
	  // }
    h3 {
    	font-size: 2.4rem;
    	font-family:$sans-serif;
    	font-weight:600;
		color: #FFF;
		margin-bottom:0px;
		background-color: #BA0C2F;
		display: inline-block;
		line-height: 1.3;
		padding: 12px 40px 6px 12px;
		max-width: 45rem;
		@include breakpoint(tablet) {
	    	max-width:100em;
	    	font-size:1.8rem;
		}
    }
    p {
    	font-size: 1.6rem;
		padding: 12px;
		background-color: rgba(255, 255, 255, 0.9);
		max-width: 60rem;
		color:$dark-gray;
		font-family:$serif;
		@include breakpoint(tablet) {
	    	max-width:100em;
	    	font-size:1.4rem;
		}
    }
}
// .theme-default .nivo-caption a {
//     color:#fff;
//     }
// .theme-default .nivo-caption a:hover {
//     color:#fff;
// }
// .theme-default .nivo-caption:hover {
// 	background-color: transparentize($secondary-color, .1);
// }
.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}
